In [12]:
import dask.dataframe as dd
import dask.distributed
import os
from dataprep.eda import plot
import pandas as pd

In [13]:
# enables dask multiprocessing
client = dask.distributed.Client(n_workers=8)

/home/tarindujayatilaka/anaconda3/envs/llvm/lib/python3.7/site-packages/distributed/node.py:155: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 41357 instead
  http_address["port"], self.http_server.port

In [14]:
O1 = dd.read_csv('../test-builds/llvm/datasets/O1/dask/nodup-*.csv')

In [15]:
O3 = dd.read_csv('../test-builds/llvm/datasets/O3/dask/nodup-*.csv')

In [16]:
O3df = O3.compute()

In [17]:
O1df = O1.compute()

In [18]:
O1df.equals(O3df)

False

In [19]:
O1ri = O1df.reset_index()

In [20]:
O3ri = O3df.reset_index()

In [21]:
comp = O1ri.compare(O3ri)

In [22]:
comp

        index                                               modulepath  \
         self other                                               self
0         NaN   NaN  /mnt/disks/data/tarindu/test-builds/llvm/code-...
1         NaN   NaN  /mnt/disks/data/tarindu/test-builds/llvm/code-...
2         NaN   NaN  /mnt/disks/data/tarindu/test-builds/llvm/code-...
3         NaN   NaN  /mnt/disks/data/tarindu/test-builds/llvm/code-...
4         NaN   NaN  /mnt/disks/data/tarindu/test-builds/llvm/code-...
...       ...   ...                                                ...
4828455   NaN   NaN  /mnt/disks/data/tarindu/test-builds/llvm/code-...
4828456   NaN   NaN  /mnt/disks/data/tarindu/test-builds/llvm/code-...
4828457   NaN   NaN  /mnt/disks/data/tarindu/test-builds/llvm/code-...
4828458   NaN   NaN  /mnt/disks/data/tarindu/test-builds/llvm/code-...
4828459   NaN   NaN  /mnt/disks/data/tarindu/test-builds/llvm/code-...

                                                           Uses
                                                     other self other
0        /mnt/disks/data/tarindu/test-builds/llvm/code-...  NaN   NaN
1        /mnt/disks/data/tarindu/test-builds/llvm/code-...  NaN   NaN
2        /mnt/disks/data/tarindu/test-builds/llvm/code-...  NaN   NaN
3        /mnt/disks/data/tarindu/test-builds/llvm/code-...  NaN   NaN
4        /mnt/disks/data/tarindu/test-builds/llvm/code-...  NaN   NaN
...                                                    ...  ...   ...
4828455  /mnt/disks/data/tarindu/test-builds/llvm/code-...  NaN   NaN
4828456  /mnt/disks/data/tarindu/test-builds/llvm/code-...  NaN   NaN
4828457  /mnt/disks/data/tarindu/test-builds/llvm/code-...  NaN   NaN
4828458  /mnt/disks/data/tarindu/test-builds/llvm/code-...  NaN   NaN
4828459  /mnt/disks/data/tarindu/test-builds/llvm/code-...  NaN   NaN

[4828460 rows x 6 columns]

In [36]:
comp.loc[0]

index       self                                                   NaN
            other                                                  NaN
modulepath  self     /mnt/disks/data/tarindu/test-builds/llvm/code-...
            other    /mnt/disks/data/tarindu/test-builds/llvm/code-...
Uses        self                                                   NaN
            other                                                  NaN
Name: 0, dtype: object